*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/Escritorio/Business+/.vs/Business+/FileContentIndex/4433bd3a-fda6-49fc-98d9-638f89f66826.vsidx
